@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/* WELCOME SECTION */

.photo-box {
    position: relative;
    background-color: black;
    /* z-index: -100; */
}

.photo-box img {
    opacity: 80%;
    width: 100%;
    height: 750px;
    object-fit: cover;
}

.text {
    position: absolute;
    margin: 0 0 0 60px;
    text-align: left;
    line-height: 10pt;
    top: calc(30% - 24px);
}

#welcome-text {
    font-size: 9vw;
    font-family: "Prata", Georgia, serif;
    /* font-weight: 400; */
    font-weight: bold;
    color: white;
}

#line {
    margin: -110px 0 0 0;
    text-align: left;
}

#cook-text {
    font-size: 3vw;
    font-family: "Manrope", Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    margin: 20px 0 0 0;
    letter-spacing: 2px;
}

/* #welcome-text:hover {
    color: #351921;
}

#cook-text:hover {
    color: #351921;
} */


/* OUR MISSION SECTION */

.mission {
    background-color: #ffffff;
    padding: 1px 0;
    margin: 0 0 40px 0;
}

#mission-header {
    text-align: left;
    margin-left: 100px 0 0 150px;
    font-family: "Manrope", Helvetica, sans-serif;
    font-size: 3.5vw;
    font-weight: 600;
    color: #000000;
}

#mission-text {
    text-align: left;
    margin: 0px 150px 100px 150px;
    font-family: "Manrope", Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: 300;
    color: #000000;
}