@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html * {
    font-family: "Manrope", Helvetica, sans-serif;
}

#spacer {
    height: 80px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* #recipe-info-box {
    color: #532d27;
} */

.recipe-detail-container {
    background-color: #C9A2A550;
    display: grid;
    grid-template-columns: 550px 50%;
    grid-template-rows: 80px 50px 30px 5% 400px 5% auto;
    justify-content: start;
}

#recipe-title {
    font-size: 3vw;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    margin-left: 60px;
    /* margin-top: 30px; */
    color: #532d27;
}

#recipe-author {
    text-align: left;
    margin-left: 60px;
    /* margin-top: -30px;  */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 1.5vw;
    font-weight: 500;
    color: #532d27;
    align-self: start;
}

video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    /* margin-left: 60px; */
    justify-self: center;
    border-radius: 20px;
}

.voice-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 200px;
    height: 20px;
    margin-left: 100px;
    align-self: end;
}

/* #ingred-steps-container {
    display: grid; */
    /* grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%; */
/* } */
/* 
.ingredients-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
} */

#ingredients-title {
    /* text-align: left; */
    font-size: 1.75vw;
    font-weight: 700;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: end;
    justify-self: start;
}

#recipe-ingred-list {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: left;
    font-size: 1.25rem;
    line-height: 30px;
}

#directions-title {
    /* text-align: left; */
    font-size: 1.75vw;
    font-weight: 700;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    justify-self: start;
    align-self: end;
    margin: 0px;
}

#recipe-directions-list {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: left;
    font-size: 1.2rem;
    line-height: 30px;
}

.buttons {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #C9A2A580;
    padding: 10px 12px;
    border-radius: 20px;
    border-style: none;
    color: #532d27;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    justify-self: start;
    margin-right: 20px;
}

.buttons img {
    width: 20px;
}

.buttons:hover {
    background-color: #C9A2A5;
    color: #351921;
    font-weight: bold;
}

/* COMMENTS SECTION */

.comment-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 8;
    margin-top: 30px;
}

.form {
    width: 75%;
    margin-left: 30px;
    /* margin: 30px 0 60px 30px; */
}

#new-comment-text {
    text-align: left;
}

.comment-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: left;
    margin-left: 60px;
    font-size: 1.75vw;
    font-weight: 700;
    align-self: end;
    margin-bottom: 0px;
}

#comments-list {
    text-align: left;
    margin-left: 60px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}