@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

html * {
    font-family: "Manrope", Helvetica, sans-serif;
}

#spacer {
    height: 120px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* #recipe-info-box {
    color: #532d27;
} */

.recipe-detail-container {
    background-color: white;
    display: grid;
    grid-template-columns: 500px 50%;
    grid-template-rows: 120px 50px 30px 5% 400px 5% auto;
    justify-content: start;
}

#recipe-title {
    font-family: "Prata", Georgia, serif;
    letter-spacing: 1.5px;
    font-size: 3vw;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    margin-left: 60px;
    /* margin-top: 30px; */
    color: black;
}

#recipe-author {
    text-align: left;
    margin-left: 60px;
    /* margin-top: -30px;  */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 1.5vw;
    font-weight: 500;
    color: black;
    align-self: start;
}

video {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    /* margin-left: 60px; */
    justify-self: center;
    border-radius: 20px;
}

.voice-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 200px;
    margin-left: 50px;
    margin-bottom: 5px;
    align-self: end;
    background-color: #b9b9b980;
    padding: 10px 12px;
    border-radius: 20px;
    border-style: none;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    align-content: center;
}

.voice-button:hover {
    background-color: #5ca85c;
}

#voice-instructions {
    font-size: .5rem;
}

#ingred-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 15px;
    padding: 30px;
}

#ingred-steps-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 15px;
    padding: 30px;
    margin: 20px 0 50px 0;
}

/* 
.ingredients-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
} */

#ingredients-title {
    text-align: left;
    font-size: 2vw;
    font-weight: 700;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: end;
    justify-self: start;
}

#ingredient {
    /* background-color: white; */
    margin-bottom: 5px;
    /* padding: 5px 10px; */
}

#recipe-ingred-list {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: left;
    font-size: 1.25rem;
    line-height: 30px;
}

#directions-title {
    text-align: left;
    font-size: 2vw;
    font-weight: 700;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    justify-self: start;
    align-self: end;
    margin: 0px;
}

#recipe-directions-list {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: left;
    font-size: 1.2rem;
    line-height: 30px;
}

#button-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
}

.buttons {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #b9b9b980;
    padding: 10px 12px;
    border-radius: 20px;
    border-style: none;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    justify-self: end;
    margin-right: 20px;
}

.buttons img {
    width: 20px;
}

.buttons:hover {
    background-color: #5ca85c;
    color: black;
    font-weight: bold;
}


/* EDIT FORM SECTION */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.774); /* Black w/ opacity */
    padding: 20px;
    padding-left: 60px;
    text-align: left;
    margin: 0 500px;
}

#edit-form-title {
    font-family: "Manrope", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 90px;
    /* background: white; */
}

#form-section-title{
    font-size: 1.25rem;
    font-weight: 600;
}

#ingred_detail {
    text-align: left;
}

.form-field-ingred {
    background-color: black;
    color: white;
    border-style: none;
    padding: 10px;
    margin: 5px;
    width: 500px;
}

.form-field-step {
    background-color: black;
    color: white;
    border-style: none;
    padding: 10px;
    margin: 5px;
    width: 500px;
    height: 100px;
    /* height: 200px; */
    /* text-: wrap; */
}


/* COMMENTS SECTION */

.comment-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 8;
    margin: 20px 0 20px 0;
    width: 400px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 15px;
    justify-self: center;
}

.form {
    width: 100%;
    margin-top: 30px;
    /* margin-left: 30px; */
    /* margin: 30px 0 60px 30px; */
}

.comment {
    margin: 30px 0 30px 0;
}

#new-comment-text {
    text-align: left;
}

.comment-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: left;
    /* margin-left: 60px; */
    font-size: 2vw;
    font-weight: 700;
    align-self: end;
    margin-bottom: 20px;
}

#comments-list {
    text-align: left;
    /* margin-left: 60px; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}