.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    width: 100%;
    /* z-index: 100; */
}

.nav img {
    width: 100px;
}

.nav-scrolled {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-color: lightblue;
    position: fixed;
    width: 100%;
}

.nav-scrolled img {
    width: 100px;
}

.nav-button {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    color: black;
    font-weight: bold;
}

.nav-button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}