@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #a16871; */
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav img {
    width: 100px;
    margin: 2px;
}

.nav-scrolled {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav-scrolled img {
    width: 100px;
    margin: 2px;
}

.nav-button {
    background-color: rgba(255, 255, 255, 0.144);
    padding: 8px 15px;
    border-radius: 20px;
    margin: 2px;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    font-size: .9rem;
    font-family: "Manrope", Helvetica, sans-serif;
    font-weight: 600;
}

.nav-button:hover {
    background-color: #327532;
    color: white;
    font-weight: bold;
}