@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: .8rem;
    font-family: "Manrope", Helvetica, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.footer a {
    color: #532d27;
    margin-right: 10px;
    align-self: right;
}

.footer a:hover {
    color: #532d27;
    font-weight: 600;
}