@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    /* font-size: .9rem; */
    font-family: "Manrope", Helvetica, sans-serif;
    font-weight: 500;
    text-align: right;
}

.footer a {
    color: #532d27;
    margin-right: 10px;
}

.footer a:hover {
    color: #532d27;
    font-weight: 600;
}