.recipe-image {
    max-width: 250px;
}

.photo-box {
    position: relative;
    z-index: -100;
}

.text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: calc(45% - 24px);
}

.text img {
    width: 400px;
    margin-bottom: -30px;
}

.recipe-cards {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

.recipe-card {
    background-color: lightblue;
    margin: 5px;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 15px;
}